extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post
    h1.post-title= page.title
    .post-content
      != page.content
    if theme.shareto == true
    include _partial/tag
    .post__meta= page.date.format(config.date_format)
  include _partial/post_nav
